body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  
}
.tescolor{
  background: linear-gradient(135deg, #766dff, #88f3ff);
  background: rgb(3, 46, 110);
}
